USE [master]
GO
/****** Object:  Database [DownTubers]    Script Date: 15.3.2016 г. 21:16:41 ******/
CREATE DATABASE [DownTubers]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DownTubers', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DownTubers.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DownTubers_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DownTubers_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DownTubers].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DownTubers]
GO
/****** Object:  Table [dbo].[HistorySet]    Script Date: 15.3.2016 г. 21:16:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorySet](
	[Id] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[VideoId] [int] NOT NULL,
	[WatchDate] [datetime] NOT NULL,
 CONSTRAINT [PK_HistorySet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PlaylistSet]    Script Date: 15.3.2016 г. 21:16:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaylistSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[VideoId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_PlaylistSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subscribers]    Script Date: 15.3.2016 г. 21:16:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscribers](
	[UserId] [int] NOT NULL,
	[SubscriberId] [int] NOT NULL,
 CONSTRAINT [PK_Subscribers] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[SubscriberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserSet]    Script Date: 15.3.2016 г. 21:16:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[PlaylistId] [int] NULL,
	[Registered] [date] NULL,
	[LastLogin] [datetime] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Priveleges] [int] NOT NULL,
	[PictureLocation] [nvarchar](250) NULL,
 CONSTRAINT [PK_UserSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VideoSet]    Script Date: 15.3.2016 г. 21:16:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[AuthorId] [int] NOT NULL,
	[UploadTime] [datetime] NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Length] [real] NOT NULL,
	[Views] [int] NOT NULL,
	[Likes] [int] NULL,
	[VideoPath] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_VideoSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[HistorySet]  WITH CHECK ADD  CONSTRAINT [FK_HistorySet_UserSet] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserSet] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HistorySet] CHECK CONSTRAINT [FK_HistorySet_UserSet]
GO
ALTER TABLE [dbo].[HistorySet]  WITH CHECK ADD  CONSTRAINT [FK_HistorySet_VideoSet] FOREIGN KEY([VideoId])
REFERENCES [dbo].[VideoSet] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HistorySet] CHECK CONSTRAINT [FK_HistorySet_VideoSet]
GO
ALTER TABLE [dbo].[PlaylistSet]  WITH CHECK ADD  CONSTRAINT [FK_PlaylistSet_UserSet] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserSet] ([Id])
GO
ALTER TABLE [dbo].[PlaylistSet] CHECK CONSTRAINT [FK_PlaylistSet_UserSet]
GO
ALTER TABLE [dbo].[PlaylistSet]  WITH CHECK ADD  CONSTRAINT [FK_PlaylistSet_VideoSet] FOREIGN KEY([VideoId])
REFERENCES [dbo].[VideoSet] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlaylistSet] CHECK CONSTRAINT [FK_PlaylistSet_VideoSet]
GO
ALTER TABLE [dbo].[Subscribers]  WITH CHECK ADD  CONSTRAINT [FK_Subscribers_UserSet] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserSet] ([Id])
GO
ALTER TABLE [dbo].[Subscribers] CHECK CONSTRAINT [FK_Subscribers_UserSet]
GO
ALTER TABLE [dbo].[Subscribers]  WITH CHECK ADD  CONSTRAINT [FK_Subscribers_UserSet1] FOREIGN KEY([SubscriberId])
REFERENCES [dbo].[UserSet] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Subscribers] CHECK CONSTRAINT [FK_Subscribers_UserSet1]
GO
ALTER TABLE [dbo].[VideoSet]  WITH CHECK ADD  CONSTRAINT [FK_VideoSet_UserSet] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[UserSet] ([Id])
GO
ALTER TABLE [dbo].[VideoSet] CHECK CONSTRAINT [FK_VideoSet_UserSet]
GO
USE [master]
GO
