<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DownTubersDb" connectionString="metadata=res://*/DownTubersDb.csdl|res://*/DownTubersDb.ssdl|res://*/DownTubersDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=downtubers.database.windows.net;initial catalog=Downtubers;persist security info=True;user id=rokner;password=H@cktube;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>